.InputItem input {
    width: 65%;
    padding: 0px 90px 0px 0px;
    height: 55px;
    border: 0;
    font-size: 28px;
}
.InputItem input:focus{
    outline: none;
}
.InputItem input::-webkit-input-placeholder { /* Edge */
    font-style: italic;
    opacity: .3;
    font-size: 28px;    
}
.InputItem {
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: center;
}
img.down_arrow {
    width: 20px;
    opacity: .4;
    padding-right: 0px;
    margin-right: 24px;
}
img.down_arrow:hover{
    cursor: pointer;
}