@media screen and (max-width: 768px){
    .wrapper_content{
      width: 95%;
    }
   
    .InputItem input {
      width: 65%;
      padding: 0px 50px 0px 10px;
  }
    .InputItem input::placeholder{
        font-size: 20px;
    }
    .Item{
      font-size: 20px ;
      padding-left: 16px ;
    }
    .Counter{
      justify-content: flex-end ;
    }
    img.down_arrow {
      width: 20px;
      opacity: .4;
      padding-right: 0px;
      margin-right: 0px;
  }

  }